@use '../abstract'as *;

html,
body {
  height: 100%;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  @include font-face(default, var(--font-default), 500, var(--black));
  position: relative;

  margin: 0 auto;
  max-width: rem(1440);
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

img {
  display: block;
}

ul {
  margin: 0;
  padding: 0;
}

.display {
  display: block;
  animation: fade-in 1000ms ease-in-out 0s forwards;
  -webkit-animation: fade-in 1000ms ease-in-out 0s forwards;
}

.no-display {
  display: none;
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }

  1% {
    visibility: visible;
    opacity: 0;
  }

  to {
    visibility: visible;
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}