@use '../abstract'as *;

.about {
  @include breakpoint-up(tablet) {
    display: flex;
  }

  &__text-container {
    width: rem(580);
    margin: auto 0;
  }

  &__heading {
    @include font-face(default, var(--font-default), 700, var(--black));
    letter-spacing: rem(5);
    text-transform: uppercase;
    padding: 0 rem(48);
    margin-bottom: rem(12);
  }

  &__description {
    @include font-face(default, var(--font-default), 500, var(--dark-gray));
    letter-spacing: rem(-.25);
    line-height: 1.5;
    padding: 0 rem(48);
  }

  @include breakpoint-down(tablet) {
    &__text-container {
      width: auto;
      margin: 0;
      padding: rem(60) rem(32);
    }

    &__heading {
      padding: 0;
      margin-bottom: rem(12);
    }

    &__description {
      padding: 0;
    }
  }
}

.image {

  &-dark,
  &-light {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  @include breakpoint-up(tablet) {
    &-dark {
      max-width: rem(420);
      height: rem(266);
    }

    &-light {
      @include breakpoint-up(tablet) {
        max-width: rem(440);
        height: rem(266);
      }
    }
  }
}