@use '../abstract'as *;

.footer {
  display: none;
  text-align: center;

  .attribution {
    @include font-face(default, rem(10), 400, var(--very-dark-gray));

    a {
      color: var(--black);
      font-weight: 700;

      &:hover {
        color: var(--dark-gray);
      }
    }
  }

  @include breakpoint-down(laptop) {
    display: block;
    padding: rem(32) rem(16);
  }

  @include breakpoint-up(lg-desktop) {
    @include position(fixed, $bottom: 0);
    display: block;
    margin: 0 0 rem(24);
  }
}