@use '../abstract'as *;

.header {
  position: relative;

  .nav {
    align-items: center;
    display: flex;
    gap: rem(58);
    padding: rem(64);

    &__link-container {
      align-items: center;
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      @include breakpoint-up(medium) {
        gap: rem(34);
      }

      li {
        align-items: center;
        display: flex;
      }
    }

    .hamburger {
      display: none;
    }

    .close-icon {
      display: none;
    }

    &__link {
      @include font-face(default, var(--font-default), 500, var(--white));
      position: relative;

      &::before {
        @include position(absolute, $content: '', $left: 0, $bottom: rem(-9), $right: 0);
        background-color: var(--white);
        height: rem(2);
        margin: 0 auto;
        width: rem(16);
        opacity: 0;
        transition: opacity 150ms ease-in-out;
      }

      &:hover {
        &::before {
          opacity: 1;
        }
      }
    }

    >svg {
      display: block;
    }
  }

  @include breakpoint-down(small) {

    .nav {
      padding: rem(48) rem(24);

      .hamburger {
        display: inherit;
      }

      .close-icon {
        display: inherit;
        margin-right: rem(34);
      }

      &__link-container {
        @include position(absolute, $top: 0, $right: 0, $left: 0);
        background-color: var(--white);
        visibility: hidden;
        justify-content: space-between;
        padding: rem(48) rem(24);
        z-index: 1;
      }

      .active {
        visibility: visible;
      }

      &__link {
        @include font-face(default, var(--font-default), 600, var(--black));

        &::before {
          display: none;
        }
      }
    }
  }
}