@use '../abstract'as *;

.header {
  @include position(absolute, $top: 0, $right: 0, $left: 0);
  z-index: 1;

  .nav {
    align-items: center;
    display: flex;
    gap: rem(58);
    padding: rem(64);
    position: relative;

    &__link-container {
      align-items: center;
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      @include breakpoint-up(medium) {
        gap: rem(34);
      }

      li {
        align-items: center;
        display: flex;
      }
    }

    .hamburger {
      display: none;
    }

    .close-icon {
      display: none;
    }

    &__link {
      @include font-face(default, var(--font-default), 600, var(--white));
      position: relative;
      text-transform: lowercase;

      &::before {
        @include position(absolute, $content: '', $left: 0, $bottom: rem(-9), $right: 0);
        background-color: var(--white);
        height: rem(2);
        margin: 0 auto;
        width: rem(16);
        visibility: hidden;
      }

      &:hover {
        &::before {
          visibility: visible;
        }
      }
    }
  }

  @include breakpoint-down(small) {
    .nav {
      padding: rem(48) rem(24);

      .hamburger {
        display: inherit;
      }

      .logo {
        @include position(absolute, $top: 0, $left: 0, $right: 0);
        padding: rem(48) 0 0;
        margin: 0 auto;
      }

      .close-icon {
        display: inherit;
        margin-right: rem(34);
      }

      &__link-container {
        @include position(absolute, $top: 0, $right: 0, $left: 0);
        background-color: var(--white);
        visibility: hidden;
        justify-content: space-between;
        padding: rem(48) rem(24);
        z-index: 1;
      }

      .active {
        visibility: visible;
      }

      &__link {
        @include font-face(default, var(--font-default), 600, var(--black));

        &::before {
          display: none;
        }
      }
    }
  }
}

.overlay {
  background-color: #00000099;
  bottom: 0;
}